### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/


### Intelij ###
.idea

### Gradle ###
.gradle
/target/
*.iml
*.gpg

### Eclipse ###
.classpath
.project
.settings
out

### Old travis ###
.utility/